
.input-container{
    margin-top: 160px;
    display: flex;
    gap: 0.25rem;
    background: #fff;
    font-size: 16px; 
    width: 20px;
    margin-left: 5px;
}

input {
    flex: 1;
    background: #fff;
    border: 0.5 solid #60C3D8;
    padding: 6px 30px;
    border-radius: 8px;
  }

.card-container{
   margin: 50px;
   display: flex;
   flex-wrap: wrap;
   margin-top: 100px;

}

.city{
    padding: 8px;
    background-color: rgba(12, 12, 12, 0.692);
    margin: 6px;
    border-radius: 8px;
}

.city-image{
    width: 260px;
    height: 260px;
    margin: 8px;
    border-radius: 10px;
}

.city h2{
    color: white;
    text-align: center;
}


@media (max-width: 1280px){
    
}